html{
    width:100%;
    height: 100%;  
    background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #000000, #000000, #434343);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #000000, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: white;
	font-size: x-large;
	font-family: monospace;  
}

*{
    margin: 0;
    padding: 0;
}

body {

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.icon {
    float: left;
    width: 300px;;
    height: 100px;
}

.header .icon a {
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    color: white;
    font-family: cursive;
    margin-left: 30px;
}

.header .nav {
    height: 100px;
    float: right;
}

.header .nav ul li {
    float: right;
    margin-right: 60px;
}

.header .nav ul li a {
    display: inline-block;
    font-family: monospace;
    font-size: 25px;
    color: white;
    line-height: 100px;
}

.header .nav ul li a:hover {
    color: orange;
}

.flaticon {
	position: absolute;
	top: 96%;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: large;
	color: white;
}

.flaticon a {
    color: white;
    text-decoration: underline;
}

.main ul {
    height: 600px;
    width: 990px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -295px;
}

.main ul li {
    position: relative;
    float: left;
    height: 200px;
    width: 330px;
}

.main ul li img {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    margin-top: -75px;
    height: 150px;
    width: 150px;
}

.main ul li .mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    font-size: 30px;
    text-align: center;
    line-height: 200px;
}

.main ul li:hover .mask{
    display: block;
}